.sale-cont{
    height: 35rem;
  
    width: 90%;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
   
}

.saleimg{
    height: 100%;
    width: 48%;
 
}

.i1{
    margin-right: 50px;
}





.saller{
    height: 15rem;
    width: 90%;
    margin-left: 70px;
    margin-right: 70px;
    
   
    display: flex;
    justify-content: space-between;
    

}

.saller-item{
  
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    
    align-items: center;
    border-radius: 50%;
    


   
}

.sl{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-left: 50px;
   


}


.saller-item>p{
    text-align: center;
    font-size: 20px;
    font-weight: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.ads{
    min-height: 10rem;
    width: 90%;
    margin-left: 70px;
    margin-right: 70px;
  
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}
.ad1{
    height: 100%;
    width: 48%;
    margin-right: 40px;
   
   
}

.ad2{
    height: 100%;
    width: 48%;
    /* margin-left: 30px; */
   
   
}