.email-cont{
    width: 100%;
    height: 20rem;
    /* margin-left: 50px;
    margin-right: 50px; */
    margin-top: 50px;
    background-color: rgb(14, 180, 180);
}

.email-cont>h1{
    text-align: center;
    padding-top: 5rem;
}

.email-item{
    height: 3.5rem;
    width: 40rem;
    background-color: chartreuse;
    margin-left: 25rem;
    display: flex;
}

.email-item>input{
    height: 95%;
    width: 80%;
    outline: 0;
    
}

.email-btn{
    height: 100%;
    width: 30%;
    background-color: darkorange;
}